$grey: #C4C4C4;
$dark: #171616;
$lightgrey: #F2F2F2;
$lightGreen: #6CAC3D;
$blue: #2D4872;


$brackpoints: (
    sm: 440px,
    md: 740px,
    lg: 1090px,
    lg-m: 1024,
    xl: 1400px,
    xxl: 1600px,
);


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
