ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto";
  background-color: #F8F8F8;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1399.8px) {
  .wrapper {
    width: 92%;
  }
}
.wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0px 23px 0px;
  position: relative;
  border-bottom: 1px solid #6CAC3D;
}
.wrapper header .bourger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 261px;
  width: 35px;
}
@media (max-width: 739.8px) {
  .wrapper header .bourger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.wrapper header .bourger .borger-cover .bourger-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper header .bourger .borger-cover .bourger-trigger:hover {
  cursor: pointer;
}
.wrapper header .bourger .borger-cover .bourger-trigger .bourg-line {
  margin-bottom: 4px;
  width: 35px;
  height: 4px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.wrapper header .bourger .borger-cover .bourger-trigger .bourg-line:last-child {
  margin-bottom: 0px;
}
.wrapper header .bourger .borger-cover .first-line {
  -webkit-transform: rotate(765deg);
          transform: rotate(765deg);
  position: absolute;
}
.wrapper header .bourger .borger-cover .second-line {
  display: none;
}
.wrapper header .bourger .borger-cover .last-line {
  -webkit-transform: rotate(1035deg);
          transform: rotate(1035deg);
}
.wrapper header .bourger .borger-cover .bourger-body {
  display: none;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #6CAC3D;
}
.wrapper header .bourger .borger-cover .bourger-body .bourger-nav .bourger-nav-list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper header .bourger .borger-cover .bourger-body .bourger-nav .bourger-nav-list .bourger-nav-item {
  margin-bottom: 10px;
}
.wrapper header .bourger .borger-cover .bourger-body .bourger-nav .bourger-nav-list .bourger-nav-item .bourger-nav-link {
  color: #171616;
  font-size: 18px;
}
.wrapper header .bourger .borger-cover .bourger-body .bourger-nav .bourger-nav-list .bourger-nav-item .bourger-nav-link:hover {
  color: #2D4872;
}
.wrapper header .bourger .borger-cover .bourger-body .social {
  display: block;
  margin-bottom: 20px;
}
.wrapper header .bourger .borger-cover .bourger-body .social .social-img {
  margin-right: 18px;
}
.wrapper header .bourger .borger-cover .bourger-body .social .social-img:hover {
  cursor: pointer;
}
.wrapper header .bourger .borger-cover .bourger-body .social .social-img:last-child {
  margin-right: 0;
}
.wrapper header .bourger .borger-cover .bourger-body .number {
  display: block;
}
.wrapper header .bourger .borger-cover .bourger-body .number .nimber-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #171616;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}
.wrapper header .bourger .borger-cover .bourger-body .number .nimber-link .phone-icon {
  margin-right: 5px;
}
.wrapper header .bourger .borger-cover .bourger-body .number .number-ttl {
  font-size: 14px;
  font-weight: 400;
  color: #171616;
  margin-top: 5px;
}
.wrapper header .bourger .borger-cover .bourger-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 100px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 300px;
}
@media (max-width: 1399.8px) {
  .wrapper header .main-nav {
    display: none;
  }
}
.wrapper header .main-nav .main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 46px;
}
.wrapper header .main-nav .main-nav-list .main-nav-item {
  margin-left: 24px;
}
.wrapper header .main-nav .main-nav-list .main-nav-item:first-child {
  margin-left: 0;
}
.wrapper header .main-nav .main-nav-list .main-nav-item .main-nav-link {
  color: #171616;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
.wrapper header .main-nav .main-nav-list .main-nav-item .main-nav-link:hover {
  color: #2D4872;
}
.wrapper header .number {
  margin-right: 36px;
}
@media (max-width: 1399.8px) {
  .wrapper header .number {
    margin-right: 30px;
    margin-left: 23px;
  }
}
@media (max-width: 739.8px) {
  .wrapper header .number {
    display: none;
  }
}
.wrapper header .number .nimber-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #171616;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}
.wrapper header .number .nimber-link .phone-icon {
  margin-right: 5px;
}
.wrapper header .number .number-ttl {
  font-size: 14px;
  font-weight: 400;
  color: #171616;
  margin-top: 5px;
}
.wrapper header .social {
  display: none;
}
@media (max-width: 1399.8px) {
  .wrapper header .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 739.8px) {
  .wrapper header .social {
    display: none;
  }
}
.wrapper header .social .social-img {
  margin-right: 18px;
}
.wrapper header .social .social-img:hover {
  cursor: pointer;
}
.wrapper header .social .social-img:last-child {
  margin-right: 0;
}
.wrapper header .order-call {
  color: #6CAC3D;
  border: 1px solid #6CAC3D;
  border-radius: 3px;
  padding: 13px 22px 12px 24px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.66, 0.07, 0.24, 1);
          transition-timing-function: cubic-bezier(0.66, 0.07, 0.24, 1);
  font-size: 16px;
}
@media (max-width: 1399.8px) {
  .wrapper header .order-call {
    margin-left: 18px;
  }
}
@media (max-width: 739.8px) {
  .wrapper header .order-call {
    display: none;
  }
}
.wrapper header .order-call:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6CAC3D;
}
.wrapper header .call-btn {
  width: 60px;
  height: 40px;
  background-color: #6CAC3D;
  border-radius: 3px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 739.8px) {
  .wrapper header .call-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.wrapper .offers-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #6CAC3D;
  margin-bottom: 33px;
}
.wrapper .offers-nav .offers-item {
  width: 230px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #171616;
  text-align: center;
  padding: 24px 0px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: relative;
}
.wrapper .offers-nav .offers-item:hover {
  cursor: pointer;
}
.wrapper .offers-nav .offers-item:first-child {
  text-align: start;
}
.wrapper .offers-nav .offers-item .arrow {
  margin-left: 5px;
}
.wrapper .offers-nav .offers-item .offer-body {
  width: 176px;
  padding-top: 35px;
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.wrapper .offers-nav .offers-item .offer-body:first-child {
  margin: 0px 0px 0px -25px;
}
.wrapper .offers-nav .offers-item .offer-body .body-offer-item {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  padding: 13px 25px;
  border-radius: 3px;
}
.wrapper .offers-nav .offers-item .display-body-block {
  display: block;
}

.introducntion {
  background-image: url(/img/introduct.jpg);
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  height: 719px;
  margin-bottom: 73px;
}
.introducntion .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.introducntion .intoducntion-description {
  padding-top: 63px;
}
.introducntion .intoducntion-description .main-ttl {
  margin-bottom: 31px;
  width: 563px;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 700;
}
.introducntion .intoducntion-description .main-subttl {
  font-family: "Roboto";
  margin-bottom: 75px;
  font-size: 44px;
  font-weight: 700;
}
.introducntion .intoducntion-description .green-block {
  background-color: #6CAC3D;
  color: #fff;
  padding: 3px;
  border-radius: 10px;
  font-size: 60px;
}
.introducntion .intoducntion-description .ttl-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px;
  grid-template-columns: 300px 300px;
  -ms-grid-rows: 160px 160px;
  grid-template-rows: 160px 160px;
}
.introducntion .intoducntion-description .ttl-flex > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.introducntion .intoducntion-description .ttl-flex > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.introducntion .intoducntion-description .ttl-flex > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.introducntion .intoducntion-description .ttl-flex > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.introducntion .intoducntion-description .ttl-flex .ttl-flex-item {
  width: 211px;
}

.calculation-unit {
  width: 382px;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 38px 24px 47px 55px;
  position: absolute;
  right: 0;
}
.calculation-unit .calculation-ttl {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 900;
  color: #171616;
  margin-bottom: 28px;
}
.calculation-unit .type-of-fixing {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
}
.calculation-unit .fixing-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 17px;
  border-bottom: 1px solid #C4C4C4;
}
.calculation-unit .fixing-unit .fixing-label {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}
.calculation-unit .fixing-unit .fixing-label:hover {
  cursor: pointer;
}
.calculation-unit .fixing-unit .fixing-label .fake-fixing-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #C4C4C4;
  position: relative;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculation-unit .fixing-unit .fixing-label .fake-fixing-checkbox:hover {
  cursor: pointer;
}
.calculation-unit .fixing-unit .fixing-label .fake-fixing-checkbox::before {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.calculation-unit .fixing-unit .fixing-label .fixing-input:checked + .fake-fixing-checkbox {
  border-color: #2D4872;
}
.calculation-unit .fixing-unit .fixing-label .fixing-input:checked + .fake-fixing-checkbox::before {
  background-color: #2D4872;
}
.calculation-unit .fixing-unit .fixing-label .fixing-input {
  display: none;
}
.calculation-unit .type-of-accomodation {
  color: #C4C4C4;
  font-family: "Roboto";
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.calculation-unit .accomodation-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 17px;
  border-bottom: 1px solid #C4C4C4;
}
.calculation-unit .accomodation-unit .accomodation-label {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}
.calculation-unit .accomodation-unit .accomodation-label:hover {
  cursor: pointer;
}
.calculation-unit .accomodation-unit .accomodation-label .accomodation-fake-radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #C4C4C4;
  position: relative;
  margin-right: 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.calculation-unit .accomodation-unit .accomodation-label .accomodation-fake-radio:hover {
  cursor: pointer;
}
.calculation-unit .accomodation-unit .accomodation-label .accomodation-fake-radio::before {
  content: "";
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.calculation-unit .accomodation-unit .accomodation-label .accomodation-input:checked + .accomodation-fake-radio {
  border-color: #2D4872;
}
.calculation-unit .accomodation-unit .accomodation-label .accomodation-input:checked + .accomodation-fake-radio::before {
  background-color: #2D4872;
}
.calculation-unit .accomodation-unit .accomodation-label .accomodation-input {
  display: none;
}
.calculation-unit .count-of-rooms-ttl {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.calculation-unit .rooms-unit {
  padding-bottom: 10px;
  margin-bottom: 17px;
  border-bottom: 1px solid #C4C4C4;
}
.calculation-unit .rooms-unit .rooms-inner-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 69%;
}
.calculation-unit .rooms-unit .rooms-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculation-unit .rooms-unit .rooms-label:hover {
  cursor: pointer;
}
.calculation-unit .rooms-unit .rooms-label .rooms-fake-radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #C4C4C4;
  position: relative;
  margin-right: 10px;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.calculation-unit .rooms-unit .rooms-label .rooms-fake-radio:hover {
  cursor: pointer;
}
.calculation-unit .rooms-unit .rooms-label .rooms-fake-radio::before {
  content: "";
  width: 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.calculation-unit .rooms-unit .rooms-label .rooms-input:checked + .rooms-fake-radio {
  border-color: #2D4872;
}
.calculation-unit .rooms-unit .rooms-label .rooms-input:checked + .rooms-fake-radio::before {
  background-color: #2D4872;
}
.calculation-unit .rooms-unit .rooms-label .rooms-input {
  display: none;
}
.calculation-unit .area {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
}
.calculation-unit .area-slider {
  width: 319px;
  height: 6px;
  margin-bottom: 30px;
  border: 1px solid #C4C4C4;
  position: relative;
  border-radius: 3px;
  background-color: #C4C4C4;
}
.calculation-unit .area-slider .area-target {
  position: absolute;
  -webkit-transform: translate(-14%, -37%);
          transform: translate(-14%, -37%);
  width: 22px;
  height: 22px;
  border: 2px solid #fff;
  background-color: #2D4872;
  border-radius: 50%;
}
.calculation-unit .area-slider .area-target:hover {
  cursor: pointer;
}
.calculation-unit .area-choise-result {
  margin: -44px 0px 35px 340px;
}
.calculation-unit .sale-unit {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
  padding: 17px 0px 18px;
}
.calculation-unit .sale-unit .sale-inner-block {
  width: 380px;
}
.calculation-unit .sale-unit .sale-inner-block .sale-inner-ttl {
  color: #2D4872;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}
.calculation-unit .sale-unit .sale-inner-block .sale-inner-ttl .bold {
  font-size: 18px;
  font-weight: 700;
}
.calculation-unit .enter-numb-ttl {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  color: #C4C4C4;
  margin-bottom: 17px;
}
.calculation-unit .enter-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculation-unit .enter-number .number-label {
  width: 203px;
  height: 40px;
  border: 1px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C4C4C4;
  margin-right: 15px;
}
.calculation-unit .enter-number .number-label .enter-number-input {
  border: 0px;
}
.calculation-unit .submit-btn {
  background-color: #6CAC3D;
  color: #fff;
  border: 0px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  padding: 13px 31px;
}
.calculation-unit .submit-btn:hover {
  cursor: pointer;
  background-color: rgba(107, 172, 61, 0.8039215686);
}

.amount-offers-ttl {
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 700;
  color: #171616;
  text-align: center;
  margin-bottom: 48px;
}

.amount-on-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.amount-unit {
  margin-bottom: 101px;
  width: 284px;
  height: 582px;
  border-radius: 16px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.amount-unit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 77px 13px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 77px 13px rgba(34, 60, 80, 0.2);
}
.amount-unit .amount-description {
  background-color: #E3EAEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 39px 14px 27px;
  margin-bottom: 24px;
  border-radius: 16px 16px 0px 0px;
}
.amount-unit .amount-description .amount-img {
  border-radius: 50%;
  margin-right: 4px;
}
.amount-unit .amount-description .amount-description-block .amount-descriptiion-ttl,
.amount-unit .amount-description .amount-description-block .amount-descriptiion-subttl {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: #6CAC3D;
}
.amount-unit .amount-description .amount-description-block .amount-descriptiion-subttl {
  font-size: 14px;
  color: #171616;
}
.amount-unit .amount-paragr {
  width: 239px;
  height: 101px;
  margin: 0 auto 30px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #171616;
}
.amount-unit .service-ttl {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  color: #171616;
  margin: 15px 0px 9px 27px;
}
.amount-unit .offer-inner-list .offer-list-item {
  margin-bottom: 6px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #171616;
}
.amount-unit .offer-inner-list .offer-list-item .checkmark {
  display: inline-block;
  margin: 0px 7px 0px 27px;
}
.amount-unit .additionaly-service {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  color: #C4C4C4;
  margin: 15px 0px 30px 27px;
}
.amount-unit .list-of-works {
  color: #2D4872;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.amount-unit .list-of-works .bottomn-arrow {
  margin-left: 2px;
}
.amount-unit .crossline {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  color: #171616;
  text-decoration: line-through;
  margin-left: 29px;
}
.amount-unit .crossline .crossline-bold {
  font-weight: 700;
}
.amount-unit .green {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: #6CAC3D;
  margin-left: 6px;
}
.amount-unit .give-smeta {
  color: #fff;
  background-color: #6CAC3D;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  border: 0px;
  border-radius: 4px;
  padding: 13px 26px;
  margin: 21px 0px 0px 48px;
}
.amount-unit .give-smeta:hover {
  cursor: pointer;
  background-color: rgba(107, 172, 61, 0.8039215686);
}

.exemple-ttl {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  color: #171616;
  text-align: center;
  margin-bottom: 70px;
}

.exemple-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.exemple-class .example-class-item {
  color: #595959;
  font-size: 16px;
  font-weight: 700;
  background-color: #E6E6E6;
  border-radius: 4px;
  width: 237px;
  padding: 15px 0px 14px;
  text-align: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.exemple-class .example-class-item:hover {
  cursor: pointer;
  background-color: #2D4872;
  color: #fff;
}

.example-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 666px;
  margin: 0 auto 30px;
}
.example-radio .exapmple-radio-var {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.example-radio .exapmple-radio-var:hover {
  cursor: pointer;
}
.example-radio .exapmple-radio-var .example-fake-radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #C4C4C4;
  position: relative;
  margin-right: 13px;
  display: inline-block;
}
.example-radio .exapmple-radio-var .example-fake-radio:hover {
  cursor: pointer;
  border-color: #595959;
}
.example-radio .exapmple-radio-var .example-fake-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.example-radio .exapmple-radio-var .example-input:checked + .example-fake-radio::before {
  background-color: #2D4872;
}
.example-radio .exapmple-radio-var .example-input:checked + .example-fake-radio::before .example-fake-radio {
  border-color: #2D4872;
}
.example-radio .exapmple-radio-var .example-input {
  display: none;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 31px;
}
.slider-wrapper .slider-btns {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.slider-wrapper .slider-btns .slider-btn {
  width: 13.5px;
  height: 27px;
  margin-left: -55px;
}
.slider-wrapper .slider-btns .slider-btn:hover {
  cursor: pointer;
}
.slider-wrapper .slider-btns .slider-btn:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 0px;
  margin-right: -55px;
}
.slider-wrapper .slider-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider-wrapper .slider-left .slider-left-item {
  width: 82px;
  height: 58px;
  background-color: #C4C4C4;
  border-radius: 2px;
  margin-bottom: 6px;
}
.slider-wrapper .slider-left .slider-left-item:hover {
  cursor: pointer;
}
.slider-wrapper .slider .slider-cart {
  -webkit-box-shadow: 0px 4px 10px #DFDFDF;
          box-shadow: 0px 4px 10px #DFDFDF;
  width: 1098px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
}
.slider-wrapper .slider .slider-cart .cart-img {
  width: 711px;
  height: 405px;
  border-radius: 0px 6px 6px 0px;
}
.slider-wrapper .slider .slider-cart .cart-description {
  margin: 58px 0px 0px 58px;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 240px;
  margin-bottom: 6px;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item:last-child {
  display: block;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item:last-child .cart-offer {
  margin-bottom: 6px;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item:last-child .cart-ul {
  list-style-type: disc;
  margin-left: 42px;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item:last-child .cart-ul .cart-ul-item {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #171616;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item .cart-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #595959;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item .cart-offer:last-child {
  font-weight: 700;
  color: #171616;
}
.slider-wrapper .slider .slider-cart .cart-description .cart-description-item .cart-offer .description-pict {
  margin-right: 10px;
  width: 17px;
}

.make-offer-btn {
  color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #6CAC3D;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  border: 0px;
  border-radius: 4px;
  padding: 13px 26px;
  margin-bottom: 126px;
}
.make-offer-btn:hover {
  cursor: pointer;
  background-color: rgba(107, 172, 61, 0.8039215686);
}

.stock-ttl {
  margin-top: 170px;
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 700;
  color: #171616;
  text-align: center;
  margin-bottom: 45px;
}

.stock-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.stock-unit .stock-item {
  width: 387px;
  height: 490px;
  position: relative;
}
.stock-unit .stock-item .stock-img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.stock-unit .stock-item .stock-linear {
  position: absolute;
  z-index: 1;
  height: 209px;
  width: 387px;
  margin-top: 241px;
  background: linear-gradient(359.28deg, #FFFFFF 16.58%, rgba(255, 255, 255, 0) 90.82%);
}
.stock-unit .stock-item .stock-cart-ttl {
  position: relative;
  z-index: 2;
  margin-top: 321px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  color: #171616;
}
.stock-unit .stock-item .stock-cart-description {
  position: relative;
  z-index: 2;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #171616;
  width: 272px;
  margin: 0 auto 24px;
  text-align: center;
}
.stock-unit .stock-item .sctock-btn {
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: #6CAC3D;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  border: 0px;
  border-radius: 4px;
  padding: 13px 26px;
  margin-bottom: 126px;
  margin-left: 91px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.stock-unit .stock-item .sctock-btn:hover {
  cursor: pointer;
  background-color: #83e53d;
}

.all-stocks {
  color: #6CAC3D;
  background-color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #6CAC3D;
  border-radius: 4px;
  padding: 13px 26px;
  margin-bottom: 126px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.all-stocks:hover {
  cursor: pointer;
  background-color: #6CAC3D;
  color: #fff;
}

.how-we-work-ttl {
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 700;
  color: #171616;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 130px;
}

.how-we-work-subttl {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: #171616;
  width: 773px;
  margin: 0 auto 70px;
  text-align: center;
}

.howwork-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 147px;
}
.howwork-list .howwork-list-item {
  text-align: center;
  color: #171616;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 130px;
}
.howwork-list .howwork-list-item .howwork-img {
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
}
.howwork-list .howwork-list-item .camera {
  width: 50px;
  height: 50px;
  margin-bottom: 45px;
}

.advantage-ttl {
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 700;
  color: #171616;
  text-align: center;
  margin-top: 130px;
  width: 829px;
  margin: 0 auto 25px;
}